.mainContainer{
  height: 100%;
  width: 100%;
  max-width: fit-content;
  text-align: center;
  color: white;
  .buttonsContainer{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    .searchInput {
      font-size: large;
      height: 2.5rem;
      width: 15rem;
      padding: 0 0.5rem;
      outline: none;
      border-radius: 8px 0 0 8px;
      border: 1px solid rgb(192, 187, 187);
      border-right: none;
    }
    .searchButton {
      width: 8rem;
      border-radius: 0 8px 8px 0;
      background-color: rgb(35, 35, 99);
      color: white;
      font-size: large;
      font-weight: 600;
      border: 1px solid rgb(109, 104, 104);
      cursor: pointer;
    }
    .searchButton:hover {
      color: rgb(187, 187, 187);
    }
    .searchButton:active {
      color: rgb(187, 187, 187);
      background-color: rgba(35, 35, 99, 0.589);
    }
  }
  .galleryButtonContainer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .galleryButton {
      height: 2.5rem;
      width: 12rem;
      font-size: large;
      font-weight: 600;
      border: 1px solid black;
      border-radius: 8px;
      cursor: pointer;
      background-color: rgb(35, 35, 99);
      color: white;
    }
    .galleryButton:hover {
      color: rgb(187, 187, 187);
    }
    .galleryButton:active {
      color: rgb(187, 187, 187);
      background-color: hsl(0, 0%, 38%);
    }
  }
  .imageContainer {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}